.shake {
  animation: tilt-shaking 0.2s ease-in-out infinite;
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(1deg);
  }

  50% {
    transform: rotate(0eg);
  }

  75% {
    transform: rotate(-1deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.slide-in,
.slide-out {
  z-index: 101;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  backdrop-filter: invert(80%);
  backdrop-filter: blur(10px);
}
.slide-in {
  transform-origin: right;
}

.slide-out {
  transform-origin: left;
}
